h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210201039-01. Interpretar la importancia conceptual de un competidor con visión innovadora y comunicación asertiva.






